body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(./cucs1.jpg);
  background-size: 100%;
}

.nav-wrapper {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.profile {
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  align-items: center;
  grid-gap: 1rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.brand {
  padding: 10rem;
}

/* p { font-size: xx-large; } */

.question_center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}